{{> head }}
{{> navbar }}
<div class="row">
  <div class="col-8">
    <h1>earth</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A ea architecto maxime eligendi soluta, iure non corrupti neque fugit sapiente deleniti cum rerum. Quis veniam tenetur quasi commodi esse voluptatum.</p>
  </div>
  <div class="col-4">
    <img src="assets/imgs/earth.jpg" alt="" class="img-thumbnail" />
  </div>
</div>
{{> footer }}